<!DOCTYPE html>
<html>
<head>
    <title>Fashion Forecast - My Favorite Outfits</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />
  
</head>
<body>
    <nav class="navbar">
        <img src="img/FF.jpg" alt="FF Logo" class="mini-img" />
        <div class="nav-links">
            <a href="/profile" class="nav-links">Home</a>
            <a href="/wardrobe" class="nav-links">My Virtual Closet</a>
            <a href="/outfit" class="nav-links">OOTD</a>
        </div>
    </nav>
    <h3>My Favorite Outfits</h3>

    <div class="fave-container">

        <div class="outfit-container">
        <section class="favorite-outfits">
        <% if (favoriteOutfits && favoriteOutfits.length > 0) { %>
            <ul class="fave-list">
                <% favoriteOutfits.forEach(fav => { %>
                    <li class="fave-item">
                        <ul class="clothing-list">
                            <% fav.outfit.forEach(item => { %>
                                <li class="outfit-item">
                                    <img src="<%= item.image %>" alt="<%= item.category %>" class="clothing-image">
                                    
                                </li>
                            <% }) %>
                        </ul>
                        <button class="delete-button" data-id="<%= fav._id %>">Delete Outfit</button>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You have no favorite outfits saved yet!</p>
        <% } %>
          </section>
    </div>
  
    </div>
        <div class="page-footer text-center">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <script src="/js/fave.js"></script>
</body>
</html>