<!DOCTYPE html>
<html>
<head>
    <title>Fashion Forecast</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="auth-container">
        <div class="jumbotron text-center">
            <h1>Fashion Forecast</h1>
            <p>Your personal fashion assistant. Get outfit inspiration instantly, powered by weather and location!</p>
            <img src="img/FF.jpg" alt="FF Logo">
            
        </div>

          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log In</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign Up</a>
        </div>
    </div>
</body>
</html>

