<!DOCTYPE html>
<html>
  <head>
    <title>Fashion Forecast-Outfit Of the Day</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="img/FF.jpg" alt="FF Logo" />
      <div class="nav-links">
        <a href="/profile">Home</a>
        <a href="/wardrobe">My Virtual Closet</a>
        <a href="/fave">Fave's</a>
      </div>
    </nav>

    <div class="profile-container">
      <div class="well">
        <h3>Outfit Of the Day</h3>
        <div class="outfit-container">
          <div class="stat-box">
            <% if (outfits && outfits.length > 0) { %>
            <ul class="outfit-list">
              <% outfits.forEach(item => { %>
              <li class="outfit-item">
                <img
                  src="<%= item.image %>"
                  alt="<%= item.category %>"
                  class="outfit-image"
                />
                <p>Category: <%= item.category %></p>
                <p>Season: <%= item.season %></p>
              </li>
              <% }) %>
            </ul>
            <% } else { %>
            <p>No outfits suggestions available for today.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  </body>
</html>
