<!DOCTYPE html>
<html>
  <head>
    <title>Fashion Forecast-My Wardrobe</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="profile-navbar">
      
      <img src="img/FF.jpg" alt="FF Logo" class="mini-image"/>

      
    </nav>

    <div class="weather-widget">
      <h3>Today's Weather</h3>
        <% if (weather) { %>
        <p>Temperature: <%= weather.temperature %> °F</p>
        <p>Condition: <%= weather.condition %></p>
        <p>Description: <%= weather.description.charAt(0).toUpperCase() + weather.description.slice(1) %></p>        <% } else { %>
        <p>Weather data is unavailable at the moment.</p>
        <% } %>
    </div>

    <div class="profile-container">
      <div class="well">
        <div class="stat-box">
          <a href="/outfit">Outfit Of The Day (OOTD)</a>
        </div>
      </div>
      <div class="well">
        <div class="stat-box">
          <a href="/wardrobe">My Virtual Closet</a>
        </div>
      </div>
     
      <div class="well">
        <div class="stat-box">
          <a href="/fave">Saved Outfits</a>
        </div>
      </div>
    </div>

    

    <div class="page-footer text-center">
      <a href="/logout" class="btn">Logout</a>
    </div>
  </body>
</html>
