<!DOCTYPE html>
<html>
  <head>
    <title>Fashion Forecast-My Wardrobe</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <nav class="navbar">
        <img src="img/FF.jpg" alt="FF Logo" />
        <div class="nav-links">
          <a href="/profile">Home</a>
          <a href="/outfit">OOTD</a>
          <a href="/fave">Fave's</a>
        </div>
      </nav>
    </nav>
    <div class="profile-container">
      <h3>Virtual Closet</h3>
      <p>
        Number of items:<strong> <%= clothes ? clothes.length : 0 %></strong>
      </p>
    </div>
    <!-- Add upload button -->
    <form
      action="/wardrobe/add"
      method="POST"
      enctype="multipart/form-data"
      class="message-form"
    >
      <div class="form-group">
        <label for="image">Add a new Item</label>
        <input
          type="file"
          class="form-control-file"
          name="image"
          accept="image/*"
          required
        />
        <div class="form-group">
          <label for="category">Category</label>
          <select name="category" class="form-control" required>
            <option value="">Select a category</option>
            <option value="Short sleeve top">Short Sleeve Top</option>
            <option value="Long sleeve top">Long Sleeve Top</option>
            <option value="Long bottom">Long bottom</option>
            <option value="Short bottom">Short bottom</option>
            <option value="Dress">Dress</option>
            <option value="Outerwear">Outerwear</option>
            <option value="Shoe">Shoe</option>
            <option value="Headpiece">Headpiece</option>
            <option value="Accessory">Accessory</option>
          </select>
        </div>

        <div class="form-group">
          <label for="season">Season</label>
          <div>
            <label>
              <input type="checkbox" name="season" value="Spring"  />
              Spring
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Summer"  />
              Summer
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Fall"  />
              Fall
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="season" value="Winter"  />
              Winter
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Item</button>
      </div>
    </form>

    <div>
      <div class="wardrobe-gallery">
        <% if (clothes && clothes.length > 0) { %> <%
        clothes.forEach(function(item) { %>
        <div class="clothing-item">
          <img src="<%= item.image %>" />
          <div class="item-details">
            <p>Category: <%= item.category %></p>
            <p>Season: <%= item.season %></p>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p class="no-items">
          There are no clothing items in your virtual closet. Start adding to
          your wardrobe!
        </p>
        <% } %>
      </div>
    </div>

    <div class="page-footer text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  </body>
</html>
