
img{
    height: 100px;
}

/* Wardrobe Gallery Layout */
.wardrobe-gallery {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


/* Individual Clothing Item */
.clothing-item {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: block;
    text-align: center;
    margin-bottom: 20px; 
    margin-right: 10px; 
}

/* Image Container */
.clothing-item img {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 4px;
    display: block;
}

.category-section {
    margin-bottom: 30px; 
    padding: 15px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: block; 
}

.category-header {
    text-align: center; 
    font-weight: bold; 
    margin: 0; 
    padding: 10px 0; 
    color: #333; 
}

/* Style for items within each category */
.category-items {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
}



/* Item Details */
.item-details {
    padding: 10px 0;
    text-align: center
}

.item-details p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

/* Upload Form Styling */
.message-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
